<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luta antiracista</title>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
                    <!-- <style>
:root {
    --primaria: #672d03;
    --secundaria: #A0522D;
    --profundo: #301f18;
    --letras: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--primaria);
    color: var(--letras);
    font-size: 16px;
}
        </style> -->
</head>
<body>
    <header>
        <div class="logo">2 Info</div>
        <nav class="menu-lateral">
            <ul>
                <li><a href="{{url_for('homepage')}}">Home</a></li>
                <li><a href="#">Novembro Negro</a></li>
                <li><a href="{{url_for('sobrenos')}}">Sobre nós</a></li>
                <li><a href="#">Materiais educativos</a></li>
                <li><a href="#">Creditos</a></li>
            </ul>
        </nav>
    </header>

    <main class="principal" id="inicio">
        <section class="titulo-main">
            <h1>FIGURAS DA NOSSA TURMA</h1>
            <p>Alguns de nossos exemplos de pessoas negras.</p>
        </section>

            <div class="list">
                <div class="item ativo">
                    <div class="exemplos_ativo">
                        <img src="{{ url_for('static', filename='img/diego.png') }}" alt="Pessoa 1">
                    </div>  

                <div class="content">
                    <h2 class="product-name">Diego</h2>
                    <p class="description">Estudante do 2° Ano de Informática do IF Baiano Lapa</p>
                </div>
            </div>

            
            <div class="item">

                <div class="exemplos_ativo"><img src="{{ url_for('static', filename='img/pessoa2.png') }}" alt="Pessoa 2"></div>
                <div class="content">
                    <p class="product-name">Nome da pessoa</p>
                    <p class="description">Explicação sobre a pessoa</p>
                </div>

            </div>


            <div class="item">

                <div class="exemplos_ativo"><img src="{{ url_for('static', filename='img/pessoa3.png') }}" alt="Pessoa 3"></div>
                <div class="content">
                    <p class="product-name">Nome da pessoa</p>
                    <p class="description">Explicação sobre a pessoa</p>
                </div>

            </div>
        </div>

        <!-- <div class="arrows">

            <button class="arrow-btn" id="prev"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </button>

                <button class="arrow-btn" id="next"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                </button>
        </div>

        <div class="indicators">
            <div class="numbers">01</div>

        <div class="dots">
            <div class="dots active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        </div> -->


    </main>

</body>
</html>
