<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luta Antirracista</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #7d4014;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  background: #3d1f0a;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

header {
  background-color: #D9A441;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn-voltar {
  background: none;
  color: #3d1f0a;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-voltar:hover {
  color: #7d4014;
}

.pesquisa {
  text-align: center;
  padding: 60px 20px;
}

.pesquisa h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #f4f4f4;
}

.pesquisa p {
  font-size: 2rem;
  text-align: justify;
  color: #f4f4f4;
}

.referencias {
  background-color: #3d1f0a;
  padding: 30px;
  border-top: 2px solid #D9A441;
}

.referencias h2 {
  margin-bottom: 10px;
  color: #fafafa;
}

.referencias ul {
  list-style: none;
}

.referencias li {
  margin-bottom: 8px;
  color: #ffffff;
}

.referencias span {
  margin-bottom: 8px;
  color: #3d65f4;
}

[vw-access-button] {
  transform: scale(0.8) !important;
  bottom: 15px !important;
  right: 15px !important;
}

[vw-plugin-wrapper] {
  transform: scale(0.8) !important;
  transform-origin: bottom right !important;
}
    </style>
</head>
<body>
  <div class="container">

    <header>
      <a href="{{url_for('homepage')}}" class="btn-voltar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
</svg></a>
    </header>

    <main class="pesquisa">
        <h1>6 atitudes para combater o racismo institucional no setor público</h1>
        <p>O racismo, formalmente definido como o feito de discriminação baseado na crença da existência de uma hierarquia entre raças e etnias, é comumente confundido com o colorismo, movimento segundo o qual os possuidores de pele clara seriam os ditos superiores, enquanto os de cor mais escura, independente de sua condição econômica, gênero, entre outras características, estariam sempre em um lugar de inferioridade. <br><br>

Ambos os fenômenos estão presentes na vida dos brasileiros desde a sua composição enquanto nação, assim como na maioria, senão em todos os países pós escravocratas e que sofreram colonização europeia. Eles se manifestam a contar do nível pessoal, inclusive, quando pretos e pardos não são capazes de reconhecer-se enquanto pessoas negras, passando ao nível interpessoal, na forma de ações de discriminação e preconceito racial, chegando mais gravemente a forma institucional. <br> <br>

Essa última, em específico, se refere a discriminação racial praticada pelo Estado de duas maneiras: 1- A partir do não reconhecimento do racismo como um problema estrutural, presente no dia-a-dia das instituições públicas, e, consequentemente, deixando de adotar atitudes para reverter esse quadro. 2- Ao atuar de forma diferenciada em relação a determinados grupos populacionais por meio de políticas públicas criadas a partir de normas e comportamentos que combinam estereótipos de raça, descrédito ao tema e até mesmo desconhecimento sobre a causa. <br> <br>

Embora muitos tenham tomado como verdadeiro o mito da democracia racial devido a existência de uma miscigenação étnica no Brasil, diferente da clara dicotomia entre brancos e os negros retintos vista em outros países do globo, basta olharmos para as estatísticas que compõem os direitos sociais básicos para percebermos que os desequilíbrios ainda presentes em nosso sistema político e econômico estão baseados na discriminação, ou seja, brancos são tratados de forma privilegiada quando comparados aos negros. <br><br>

Assim, enquanto integrantes de uma Rede de Líderes que se propõe a transformar o Brasil, temos uma missão muito clara em relação a redução de desigualdades e, nesse sentido, é inócuo falarmos sobre esse tema se não incidirmos sobre o debate racial. <br><br>

Abaixo, listamos 6 atitudes que podem ser tomadas para ajudar a combater o racismo institucional no setor público <br><br>
1. Reconhecer que o racismo é um problema estrutural e, diante disso, adotar uma postura institucional antirracista
O primeiro e talvez mais importante passo é reconhecer que o problema existe e precisa ser enfrentado, pois a negação e naturalização do racismo são fatores que contribuem para a sua perpetuação. Dito isso, a luta contra a desigualdade racial não deve ser uma pauta exclusiva de um grupo formado por aqueles diretamente afetados, mas um compromisso de todo e qualquer cidadão. Trazer esse debate para dentro da instituição pública pode ser o pontapé para a implantação de uma cultura antirracista no setor público.

2. Garantir representatividade de raças e etnias nos espaços coletivos de decisão
Representatividade em espaços coletivos de decisão como conselhos e órgãos colegiados implica em deixar que as minorias nesses locais falem por seus próprios interesses, sem a necessidade de porta-vozes. Esse é um fator importante pois se considera que a garantia do espaço de fala virá acompanhado pela manutenção entre a igualdade e a diferença. Em outras palavras, para que todos sejam tratados de forma igualitária é necessário que os diversos grupos existentes – etnicos e raciais ou não – sejam valorizados, afinal, a discriminação é necessariamente motivada pelo pertencimento a esses grupos.

3. Promover atividades formativas com foco na redução de preconceitos e estereótipos de raça
A essência do serviço público está no atendimento de necessidades coletivas, direta ou indiretamente, de maneira igualitária e acessível a todos(as). A qualificação das equipes com foco na redução de preconceitos e estereótipos permite que esse compromisso seja efetivamente cumprido. O mecanismo aqui está em admitir que todos nós temos vieses cognitivos modificáveis e, uma vez que os reconhecemos é possível mitigar os seus efeitos perversos.

Entender os nossos vieses cognitivos, isto é, os nossos padrões comportamentais baseados nas nossas experiências e percepções prévias, nos ajuda a identificar os gatilhos capazes de distorcer o nosso julgamento e, inclusive, originar atividades discriminatórias.

Como exemplo prático da disponibilização de atividades formativas para servidores públicos dentro dessa temática, podemos citar o Programa de Formação por uma Educação Antirracista, lançado pela Secretaria de Estado de Educação do Rio de Janeiro em abril de 2021 com o objetivo de promover reflexões em torno da questão racial e suas implicações na consolidação do direito à educação.

4. Realizar um diagnóstico interno e, posteriormente, incluir a diversidade de raça como um critério para a ocupação de cargos de liderança
Já parou para pensar onde estão os negros no no serviço público no Brasil? De acordo com um mapeamento realizado pelo República.org, apesar da existência das cotas raciais para concursos públicos da União desde 2014, apenas 35,61% dos ocupantes de cargos federais no Brasil são negros e 23,72% dos servidores estão em carreiras de gestão. A nível municipal, a situação não é diferente. O estudo revela que, em 2020, na Prefeitura de São Paulo, apenas 28,6% dos servidores públicos ativos eram negros. Destes, 48% ocupavam quadros de nível básico.

Para ajudar a reverter esse quadro, especialmente no que diz respeito à ocupação de cargos de livre nomeação, recentemente, processos seletivos sob a ótica da gestão por competências e modernização do setor público têm ganhado destaque com o apoio de organizações do terceiro setor, como é o caso da aliança formada pela Fundação Lemann, Fundação Brava, Instituto Humanize e e República.org, por exemplo.

De toda forma, realizar um diagnóstico dentro das instituições públicas, de maneira a identificar o perfil e as funções exercidas pelos servidores, e estabelecer a diversidade racial como um critério e uma meta a ser atingida, é importante para que se propicie igualdade de oportunidades.

5. Criar programas de qualificação de preenchimento e coleta de dados sobre a população negra
A estratificação de indicadores sociais a partir da categoria de raça/cor é importante porque permite a elaboração de políticas mais assertivas de enfrentamento ao racismo estrutural. Um exemplo é o projeto A Cor da Mobilidade do Instituto de Políticas de Transporte e Desenvolvimento, que chamou a atenção para a falta de dados racializados sobre mobilidade urbana. Segundo os autores do projeto, as pesquisas origem-destino, uma das principais ferramentas para entender o sistema de transportes de uma cidade, apesar de serem realizadas no Brasil desde a década de 1960, não coletam dados relacionados à raça no país, o que prejudica a elaboração de políticas voltadas para o combate das desigualdades nesse segmento.

6. Considerar a transversalidade do tema na formulação e implementação de políticas públicas
Falar de políticas públicas transversais implica admitir que a realidade social é diversa e complexa. Isto é, ao desenharmos e implementarmos soluções, é pouco efetivo considerarmos números isolados, sem observar os cenários em sua totalidade e possíveis efeitos sinérgicos. Em termos práticos, uma política de redução de disparidades de renda e redução da pobreza, por exemplo, precisa estar associada a ações afirmativas em educação e de ampliação do acesso à saúde para que seja efetiva. Logo, é necessário um olhar cuidadoso por parte dos gestores públicos e a atuação integrada de diferentes setores do Governo.

O racismo é um problema de todos, por isso, combatê-lo deve ser um trabalho constante. As 6 atitudes acima elencadas são apenas algumas alternativas que, a nosso ver, podem ajudar as instituições públicas a sair da zona de conforto. Ainda que em pequenos passos, é preciso colocar o tema em pauta, começar a refletir e criar ações sólidas que poderão transformar a realidade que vivemos hoje a médio e longo prazos. Na Rede MLG, o grupo Negritude Pública discute essa temática todas às terças-feiras, às 20h30. Caso tenha se interessado, junte-se a nós!</p>
    </main>

    <footer class="referencias">
       <h2>Referências</h2>
       <ul>
        <li>LIMA, Wesley. 6 atitudes para combater o racismo institucional no setor público. clp.org.br, 2024. Disponível em:
            <span>https://clp.org.br/6-atitudes-para-combater-o-racismo-institucional-no-setor-publico/</span>. Acesso em: 8 nov.
            2025</li>
       </ul>
    </footer>

  </div>

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
</body>
</html>