* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #1C1C1C;
    color: #fff;
    font: 16px;
    overflow: hidden; /*Nao deixa eu rodar a tela*/
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #F9F9F9;
    text-shadow: 0 0 10px rgba(rgb(1, 23, 33));
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #D7CCC8;
    transition: width 0.5s ease;
}

header nav ul li:hover::after{
    width: 100%;
}

.principal {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg,rgba(36, 35, 33, 1));
    overflow: hidden;
}

.principal::before {
    content: "";
    position: absolute;
    width: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(82, 79, 72, 1));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}

.list { 
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.ativo {
    opacity: 1;
}

.exemplos_img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.exemplos_img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(82, 79, 72, 1));
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    
}