* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(135deg, #3a3a3a, #707070, #b5b5b5);
    color: #fff;
    font: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    height: 100px;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.icone-nav {
  position: absolute;
  top: 15px;
  right: -80px;
}

.icone-nav img {
  width: 45px;
  height: 60px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icone-nav img:hover {
  transform: scale(1.1);
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #F9F9F9;
    text-shadow: 0 0 10px rgba(rgb(1, 23, 33));
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}


header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #D7CCC8;
    transition: width 0.5s ease;
}

header nav ul li:hover::after{
    width: 100%;
}

header nav ul li a {
  text-decoration: none;  
  color: #fff;            
  font-weight: 500;      
  transition: color 0.3s ease; 
}

header nav ul li a:hover {
  color: #D7CCC8;       
}

.titulo-main {
    text-align: center;
    margin-top: 30px;
    color: #F9F9F9;
    padding: 40px 20px;
}

.titulo-main h1 {
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #D7CCC8;
}

.titulo-main p {
    font-size: 1.1rem;
    color: #ccc;
    margin-top: 10px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .titulo-site h1 {
        font-size: 2rem;
    }

    .titulo-site p {
        font-size: 1rem;
    }
}


.principal {
    padding-top: 120px;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(135deg, rgba(36, 35, 33, 1));
    overflow: visible;
}

.principal::before {
    content: "";
    position: absolute;
    width: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(82, 79, 72, 1));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}

.list {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 80px; 
    padding-top: calc(80px + 2vh);
    transform: translateY(-30px);
}


.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 1;
    position: relative; 
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        text-align: center;
    }

    .exemplos_ativo img {
        width: 80%;
    }
}

.exemplos_ativo img {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    border-radius: 20px;
}


.content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.ativo {
    opacity: 1;
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    
}

.exemplos_ativo img {
    width: 350px;
    height: auto;
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .exemplos_ativo img {
        width: 80%;
    }
}