* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --primaria: #7d4014;
    --secundaria: #3d1f0a;
    --botoes: #D9A441;
    --textos: #fff;

}

/* main section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
} */

body {
    background-color: var(--primaria);
    color: #fff;
    font: 16px;
    padding-top: 90px;
}

.instagram {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.instagram img {
    width: 28px;
    height: 28px;
    transition: transfrom 0.3s ease;
    cursor: pointer;
}

header {
    background-color: var(--primaria);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    z-index: 10000;
    border-bottom: 2px solid var(--secundaria);
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #F9F9F9;
    text-shadow: 0 0 10px rgba(rgb(1, 23, 33));
}

.logo img {
    width: 55px;
    height: 55px;
    transition: transfrom 0.3s ease;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
}
header nav ul {
    display: flex;
    gap: 35px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    align-items: center;
}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--secundaria);
    transition: width 0.5s ease;
}

header nav ul li:hover::after{
    width: 100%;
}

.home-inicial {
    position: relative;
}

main#inicial {
    position: relative;
    z-index: 2;
}

.topo-do-site {
    padding: 40px 0%;
}

.flex {
    display: flex;
    margin-top: -2.8rem;
}

.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site {
    margin-left: 20px;
}

.topo-do-site .txt-topo-site a {
   text-decoration: none;
   color: #fff;
}

.topo-do-site .txt-topo-site h1 span{
    color: var(--secundaria);
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 20px 0;

}

.topo-do-site .txt-topo-site .btn {
    text-decoration: none;
    margin-top: 0px;

}

.img-topo-site img {
    border-bottom: 2px solid var(--secundaria);
    border-left: 2px solid var(--secundaria);
}

.principal {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg,var(--primaria));
    z-index: 1;
    overflow: hidden;
}

.principal::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--primaria), var(--secundaria));
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 0;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}

.list { 
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    z-index: 999;
}


.list .title {
    margin-top: -35px;
    z-index: 999;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.active {
    opacity: 1;

    transform: translate(0);
}

.exemplos_ativo img {
    z-index: 0;
}

.exemplos_img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.exemplos_img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(82, 79, 72, 1));
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.product-name {
    font-size: 2.0rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #180c04;
}

.description {
    font-size: 1.1rem;
    color: #F9F9F9;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.btn {
    padding: 1rem;
    background: linear-gradient(90deg, var(--secundaria));
    color: #fff;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    display: inline-block;
    border: none;
    text-decoration: none;
        box-shadow: 0px 0px 8px var(--botoes);
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #3d1f0a;
    border: 1px solid var(--secundaria);
    color: #fff;
}

.arrow-btn:hover {
    background-color: var(--secundaria);
    border-color: var(--primaria);
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 5;
}

.numbers {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-family: 800;
    color: rgba(255, 255, 255, 0.2);
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.dot.active {
    background-color: var(--secundaria);
}

.texturas_circulos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circulos_de_fundo {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.circulos_de_fundo:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circulos_de_fundo:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 60%;
    left: 90%;
}

.circulos_de_fundo:nth-child(3) {
    width: 200px;
    height: 200px;
    top: 5%;
    left: 90%;
}


[vw-access-button] {
  transform: scale(0.8) !important;
  bottom: 15px !important;
  right: 15px !important;
}

[vw-plugin-wrapper] {
  transform: scale(0.8) !important;
  transform-origin: bottom right !important;
}


.title {
    font-size: 4rem;
    color: #fff;
    margin: 20vh;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.title span {
    color: var(--secundaria);
}

.sobre {
    margin-top: -130px;
}

.sobre .row {
    display: flex;
    align-items: center;
    background-color: var(--secundaria);
    gap: 1.5rem;
}

.sobre .row .cont {
    padding: 2rem;

}

.sobre .row .cont .h3 {
    font-size: 5rem;
    color: #fff;
}  

.sobre .row .cont .p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.sobre .row .btn {
    background: var(--primaria);
}

.menu {
    margin-top: -130px;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: 2px solid var(--botoes);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box:hover {
    background-color: var(--secundaria);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

/* MENU MOBILE */
/* .overlay-menu {
    background-color: #0000005b;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888888;
    display: none;
}

.btn-abrir-menu {
    color: var(--secundaria);
    position: fixed;
    top: 15px;           
    right: 20px;
    z-index: 999999999999999999999999999;
}

.menu-mobile {
    background-color: var(--secundaria);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999999999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile.abrir-menu {
    width: 60%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: var(--botoes);
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar{
    color: var(--botoes);
    font-size: 20px;
    margin-right: 400px;
} 


/* Media Query /*


/*Celulares (ate 1020):*/
@media screen and (max-width: 1020px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    /* header nav{
        display: none;
    }

    header a.instagram{
        display: none;
    } */

    .flex {
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 40px;
    }

    .txt-topo-site h1 {
        margin-top: 20px;
        font-size: 35px;
        line-height: 2.2rem;
    }

    .img-topo-site img {
        max-width: 90%
    };

    .principal {
        height: auto;
        min-height: 100vh;
        overflow: visible;
        padding-bottom: 80px;
    }

    .list {
        width: 90%;
    }

    .list .title {
        text-align: left;
        margin-left: 1rem;
        font-size: 45px;
        margin-bottom: 10px;
    }

    /* ----------------------------- */
    .item {
        flex-direction: line;
        text-align: center;

    }

    #discentes h2 {
        padding-top: 80px;
    }

    .content {
        padding-right: 0;
        padding-top: 100px;
        margin-left: 24px;
    }

    .exemplos_ativo img{
        height: auto;
        display: block;
        max-width: 100%;
    }

    .title {
        margin-bottom: 1rem;
    }

    /* ---------------------- */

    #materiais_ed h2 {
        text-align: left;
        margin-left: 1rem;
        font-size: 45px;
    }

    .menu .box-container {
        display: inline-block;
        padding: 20px;
    }

    .menu .box-container .box {
        border: 3px solid #ffcc00;
        border-radius: 10px;
        background-color: #7d4014;
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
    }

    /* ------------------------- */
    .sobre {
        background-color: #7d4014;
        color: #fff;
        padding: 60px 20px;
        text-align: center;
        }

    .sobrenos .title {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #fff;
    }

    .sobrenos .title span {
        color: #ffb347; 
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont {
        max-width: 800px;
        width: 100%;
        line-height: 1.8;
        text-align: justify;
        margin-bottom: 30px;
    }

    .imagemsobre img {
        width: 80%;
        max-width: 500px;
        border-radius: 12px;
    }

    .cont p {
        margin-bottom: 15px;
    }

    #sobre .title {
        text-align: left;
        margin-left: 1rem;
        font-size: 45px;
    }

    .arrows {
        margin-left: -10px;
    }

    .arrow-btn {
        width: 30px;
        height: 30px;
        margin-right: -10px;
    }
}

/* @media (max-width: 1200px) { ... } 
@media (max-width: 768px) { ... }  
@media (max-width: 480px) { ... } */